.about-content {
    padding-top: 50px;
    width: 100%;

    .about-section {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;


        .about-section__image {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .section-about__logo {
                height: 175px;
            }
        }

        .about-section__main {
            width: 70%;
            color: #fff;
            text-align: center;
            margin-left: 10vw;
            margin-right: 5vw;

            .about-section__title {
                color: #FFA650;
            }

            .about-section__rating {
                color: gold;
                text-align: start;
            }

            .about-section__review {
                h3 {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }

                h4 {
                    text-align: end;
                }
            }
        }
    }

    .about-secondary {
        margin: 50px 0 0 0;
        padding: 30px 0;
        background: url("../../assets/section-about/bg.jpg") no-repeat;
        background-size: cover;

        .map-section {
            margin-left: 10vw;
            margin-right: 5vw;
            display: flex;
            justify-items: center;
            align-items: center;

            .map {
                width: 700px;
                height: 400px;
                background-color: yellow;
            }

            .map__info {
                text-align: center;
                color: #fff;
                margin: 0 10% 0 auto;

                h2 {
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                h4 {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 1.2em;
                }

                hr {
                    width: 50%;
                }
            }
        }

        .contact-section {
            margin: 100px 0;
            text-align: center;
            color: #fff;


            h2 {
                text-transform: uppercase;
            }

            h3 {
                font-family: 'Times New Roman', Times, serif;
            }

            hr {
                width: 10%;
                margin-top: -15px;
                margin-bottom: 40px;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
.map-marker {
    height: auto;
    max-width: 100%;
    position: absolute;
}


@media(max-width:767px) {
    .about-content {
        padding-top: 50px;

        .about-section {
            display: block;
            padding: 25px;

            .about-section__image {
                display: none;
            }

            .about-section__main {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                padding-top: 10px;
            }
        }

        .about-secondary {
            margin-top: 0px;

            .map-section {
                margin: 0;
                padding: 0;
                flex-direction: column;

                .map__info {
                    margin: 0;
                }

                .map {
                    width: 100%;
                }
            }
        }
    }
}