.shopping-cart {
  .divider {
    height: 1px;
    background-color: #ffa650;
    border: none;
  }

  .totals {
    float: right;

    .totals-item {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
