@tailwind base;
@tailwind components;
@tailwind utilities;

/*
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;

lg:1200px
md:992px
sm:767px
xs:576px
 */
* {
  box-sizing: border-box;
}

body {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.375;
  color: #1f1f1f;
  margin: 0;
  height: 100%;
  background-color: #1b1a1b;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 60px;
  display: grid;
  grid-template-areas:
    "hd"
    "content"
    "ft";
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  grid-area: content;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 16px;
  background: gray;
  box-shadow: inset 0 0 6px whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f0f0f0 inset !important;
}
