.checkout__form {
    .form-group {
        width: 100%;

        .form-control {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
        }

        .error {
            color: red;
            text-align: center;
            font-weight: 400;
            width: 100%;
            height: 100%;
        }
    }

    .submit {
        margin-top: 5%;
        .submit-btn {
            display: none;
        }
    }

}

@media(max-width:900px) {
    .checkout__form {
        margin-top: 60px;
    }
}